# Python
venv/
__pycache__/
*.pyc
*.pyo

# Editor / OS
*.swp
.DS_Store
.vscode/
.idea/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# Backups & dumps
backups/
*.dump
*.sql
*.json

# Random junk
et --hard*
apps/access_requests/tests.py
apps/notifications/migrations/0005_notificationpreference.py
apps/users/admin_urls.py
SRS.md