services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: crowdfunding_db
      POSTGRES_USER: crowdfunding_user
      POSTGRES_PASSWORD: db1234
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U crowdfunding_user -d crowdfunding_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DEBUG=True

volumes:
  postgres_data: